
backend/CollectionApp/.vs/CollectionApp/v16/.suo
backend/CollectionApp/CollectionAdmin/obj/Debug/netcoreapp3.1/CollectionAdmin.csprojAssemblyReference.cache
backend/CollectionApp/CollectionAdmin_Data/obj/Debug/CollectionAdmin_Data.csprojAssemblyReference.cache
backend/CollectionApp/CollectionAdmin_Entities/obj/Debug/CollectionAdmin_Entities.csprojAssemblyReference.cache
backend/CollectionApp/CollectionAdmin_Factory/obj/Debug/CollectionAdmin_Factory.csprojAssemblyReference.cache
backend/CollectionApp/CollectionAdmin_Logic/obj/Debug/CollectionAdmin_Logic.csprojAssemblyReference.cache
backend/CollectionApp/CollectionApp/obj/Debug/netcoreapp3.1/CollectionApp.csprojAssemblyReference.cache
backend/CollectionApp/CollectionEntities/obj/Debug/CollectionEntities.csprojAssemblyReference.cache
backend/CollectionApp/CollectionFactory/obj/Debug/CollectionFactory.csprojAssemblyReference.cache
backend/CollectionApp/CollectionLogic/obj/Debug/CollectionLogic.csprojAssemblyReference.cache
backend/CollectionApp/Services/Authentication/AuthenticationLogic/obj/Debug/AuthenticationLogic.csprojAssemblyReference.cache
backend/CollectionApp/Services/Authentication/AuthenticationService/obj/Debug/netcoreapp3.1/AuthenticationService.csprojAssemblyReference.cache
backend/CollectionApp/Services/Product/ProductData/obj/Debug/ProductData.csprojAssemblyReference.cache
backend/CollectionApp/Services/Product/ProductEntities/obj/Debug/ProductEntities.csprojAssemblyReference.cache
backend/CollectionApp/Services/Product/ProductFactory/obj/Debug/ProductFactory.csprojAssemblyReference.cache
backend/CollectionApp/Services/Product/ProductLogic/obj/Debug/ProductLogic.csprojAssemblyReference.cache
backend/CollectionApp/Services/Product/ProductService/obj/Debug/netcoreapp3.1/ProductService.csprojAssemblyReference.cache
backend/CollectionAssortiment/obj/Debug/CollectionProduct.csprojAssemblyReference.cache
backend/CollectionAuth/obj/Debug/CollectionAuth.csprojAssemblyReference.cache
