
<div id="notificiation-container">
  <div class="alert alert-dismissible alert-i fade show" [class]="'alert-'+ notification.type" role="alert" *ngFor="let notification of notifications">
    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
    <span class="alert-inner--text"><strong>{{notification.title}}!</strong> {{notification.message}}</span>
    <button type="button" (click)="removeNotification(notification)" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>
